.container {
    max-width: 100%;
    margin: auto;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #f0f1f1;
  }
  
  .table th,
  .table td {
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  .table-primary th {
    background-color: #f1c68a !important; 
    color: #131313;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #e7e7e7;
  }

  .icon-button {
    transition: color 0.3s ease; 
  }
  
  .icon-button:hover .fa-pencil-alt {
    color: #0e7927; 
    transform: scale(1.1);
  }
  
  .icon-button:hover .fa-trash {
    color: #000000; 
  }


  @media (max-width: 768px) {
    /* Ocultar tabla en pantallas pequeñas */
    .d-md-block {
      display: none !important;
    }
    
    /* Mostrar tarjetas en pantallas pequeñas */
    .d-md-none {
      display: flex !important;
    }
  
    .card {
      width: 80%;
      margin: auto;
      border: 1px solid #c7c7c7;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    }
    
    .card-img-top {
      width: 80%;
      margin: auto;
      max-height: 200px;
      object-fit: cover;
    }
    
    .card-body {
      padding: 15px;
    }
    
    .card-title {
      font-size: 1.25rem;
      margin-bottom: 10px;
    }
    
    .card-text {
      font-size: 0.9rem;
      margin-bottom: 10px;
    }
    
    .card .btn {
      font-size: 0.875rem;
      padding: 5px 10px;
    }
  }
  
  

  

