<section class="container mt-5">
    <h2 class="mb-4 text-center">Productos Agregados</h2>
    <div *ngIf="loading" class="text-center mt-4">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div *ngIf="!loading && !isMobileView" class="table-responsive">
      <table class="table table-bordered custom-striped-table">
        <thead class="table-primary">
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio Unidad</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>
              <img *ngIf="product.imageUrl" [src]="product.imageUrl" alt="Imagen del Producto" width="50">
            </td>
            <td>{{ product.name | titlecase }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price | currency }}</td>
            <td>
              <button class="btn btn-sm btn-link text-success p-0 me-2 icon-button" 
                      (click)="navigateToEdit(product.key)" matTooltip="Editar Producto" matTooltipPosition="above">
                      <i class="fas fa-pencil-alt"></i>
              </button>
              <button class="btn btn-sm btn-link text-secondary p-0 icon-button" 
                      (click)="deleteProduct(product.key, $event)" 
                      matTooltip="Eliminar Producto" matTooltipPosition="above">
                      <i class="fas fa-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

     <!-- Tarjetas de productos (visible en pantallas pequeñas) -->
     <div *ngIf="!loading && isMobileView">
      <div class="row">
        <div *ngFor="let product of products" class="col-md-6 mb-4">
          <div class="card">
            <img *ngIf="product.imageUrl" [src]="product.imageUrl" class="card-img-top" alt="Imagen del Producto">
            <div class="card-body">
              <h5 class="card-title">{{ product.name | titlecase }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <div class="d-flex justify-content-between">
                <span class="text-muted">{{ product.price | currency }}</span>
                <span class="text-muted">Cantidad: {{ product.quantity }}</span>
              </div>
              <div class="mt-3 d-flex justify-content-between">
                <button class="btn btn-sm btn-secondary" (click)="navigateToEdit(product.key)">Editar</button>
                <button class="btn btn-sm btn-danger" (click)="deleteProduct(product.key, $event)">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>