.container {
    max-width: 900px;
    margin: auto;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #f0f1f1;
  }
  
  .table th,
  .table td {
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  .table-primary th {
    background-color: #f1c68a !important; 
    color: #131313;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #e7e7e7;
  }

  .icon-button {
    transition: color 0.3s ease; 
  }
  
  .icon-button:hover .fa-pencil-alt {
    color: #0e7927; 
    transform: scale(1.1);
  }
  
  .icon-button:hover .fa-trash {
    color: #000000; 
  }

  
  
  

  

