.container {
    max-width: 900px;
    margin: auto;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: #fff;
  }
  
  .table th,
  .table td {
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table .table-primary {
    background-color: #cfe2ff;
  }
  
  .custom-striped-table tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.1); /* Color para filas impares */
  }
  
  .custom-striped-table tbody tr:nth-of-type(even) {
    background-color: #ffffff; /* Color para filas pares */
  }
