<div class="menu-container">
    <h2 class="menu-title">Menú</h2>
  
    <div *ngFor="let category of categories">
      <h3 class="category-title">{{ category.name }}</h3>
  
      <div class="product-grid">
        <div *ngFor="let product of category.products" class="product-card">
          <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image">
          <h4 class="product-name">{{ product.name }}</h4>
          <p class="product-description">{{ product.description }}</p>
          <p class="product-price">Precio: {{ product.price | currency }}</p>
          <div class="product-actions">
            <button class="btn btn-edit" (click)="openEditModal(category.name, product)">Editar</button>
            <button class="btn btn-delete" (click)="deleteProduct(category.name, product.key!)">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Toast para notificaciones -->
<div id="toast" class="toast" [class.show]="isToastVisible">
    <div [ngClass]="{'toast-success': isToastSuccess, 'toast-error': !isToastSuccess}">
      {{ toastMessage }}
    </div>
  </div>
  
  <!-- Modal para editar producto -->
  <div class="modal" [class.show]="isEditModalOpen" id="editProductModal">
    <div class="modal-content">
      <span class="close" (click)="closeEditModal()">&times;</span>
      <h2>Editar Producto</h2>
      <form (ngSubmit)="updateProduct()">
        <div class="form-group">
          <label for="productName">Nombre</label>
          <input type="text" id="productName" [(ngModel)]="selectedProduct.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="productDescription">Descripción</label>
          <textarea id="productDescription" [(ngModel)]="selectedProduct.description" name="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="productPrice">Precio</label>
          <input type="number" id="productPrice" [(ngModel)]="selectedProduct.price" name="price" required>
        </div>
        <div class="form-group">
            <label for="productImage">Cargar Foto</label>
            <input type="file" id="productImage" (change)="onFileSelected($event)" accept="image/*">
            <div *ngIf="imagePreview || selectedProduct.imageUrl">
              <img [src]="imagePreview || selectedProduct.imageUrl" alt="Vista previa" class="image-preview">
            </div>
          </div>
        
        <button type="submit" class="btn btn-save">Guardar Cambios</button>
      </form>
    </div>
  </div>
  
  
  