<div class="container mt-4">
    <h2 class="titulo">Información del Paciente: <small class="tituloPaciente">{{paciente.nombres}}</small></h2>
</div>

<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <ul class="lista">

                <li><h3 class="listChild">Cédula: <small class="listParent">{{paciente.cedula}}</small> </h3></li>
                <li><h3 class="listChild">Correo: <small class="listParent">{{paciente.correo}}</small> </h3></li>
                <li><h3 class="listChild">Teléfono: <small class="listParent">{{paciente.telefono}}</small> </h3></li>
                <li><h3 class="listChild">Domicilio: <small class="listParent">{{paciente.direccion}}</small> </h3></li>
            </ul>
        </div>
    </div>
</div>
