.form-control {
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
       margin: 0;
}

.botones{
  gap: 2rem;

}

  .btn-success-custom{
    background-color: #fafafa; 
    border: 1px solid #ffa07a; 
    color: #c16c4a; 
  }

  .btn-success-custom:hover{
    background-color: #ffa07a; 
    color: #ffffff;
  }

  .btn-secondary {
    background-color: #cccccc;
    border: 1px solid #999999;
    color: #333333;
  }
  
  .btn-secondary:hover {
    background-color: #999999;
    color: #ffffff;
  }

  @media (max-width: 576px) {
    .botones {
      margin-bottom: 4rem !important; /* Fuerza un margen inferior más grande */
    }
  
    .btn {
      margin-bottom: 4rem !important; /* Fuerza un margen inferior entre los botones */
    }
  }