<section class="container mt-5 mb-5">
    <h2 class="mb-5 text-center">Agregar Producto</h2>
    <form (ngSubmit)="addProduct()">
      <div class="mb-3">
        <label for="name" class="form-label">Nombre del Producto:</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="product.name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descripción del Producto:</label>
        <input type="text" id="description" class="form-control" [(ngModel)]="product.description" name="description" required>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Precio:</label>
        <input type="number" id="price" class="form-control" [(ngModel)]="product.price" name="price" required>
      </div>
      <div class="mb-3">
        <label for="quantity" class="form-label">Cantidad:</label>
        <input type="number" id="quantity" class="form-control" [(ngModel)]="product.quantity" name="quantity" required>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Imagen del Producto:</label>
        <input type="file" id="image" class="form-control" (change)="onFileSelected($event)">
      </div>
      <div class="botones d-flex justify-content-center mt-5">
        <button class="btn btn-success-custom w-38" type="submit">Agregar Producto</button>
        <button class="btn btn-secondary" type="button" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </section>
