.form-control {
    border-width: 2px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
       margin: 0;
}

  .btn-success-custom{
    background-color: #fafafa; 
    border: 1px solid #ffa07a; 
    color: #c16c4a; 
  }

  .btn-success-custom:hover{
    background-color: #ffa07a; 
    color: #ffffff;
  }